MONGO_URI=
JWT_SECRET=
CODE_EXECUTION_SERVICE_URL="http://executor:6000/execute"
PORT=5000
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
REDIS_PASSWORD=
REDIS_HOST= redis
REDIS_PORT=
CLIENT_URL=